IndianLangForms
Version-1/__pycache__
Version-1/aligned_images
Version-1/aligned_version1
Version-1/CRAFT-pytorch
Version-1/form_template_info
Version-1/form_templates
Version-1/masked_output
Version-1/media
Version-1/result
Version-1/static
Version-1/temp
Version-1/templates
Version-1/U-2-Net
Version-1/db.sqlite3
Version-1/testapp/__pycache__
Version-1/testapp/migrations
Version-1/testproject/__pycache__

